In [1]:
import pandas as pd

In [2]:
data=pd.read_csv('/workspaces/Python/data/source/online_retail.csv')

In [3]:
data.count

<bound method DataFrame.count of        InvoiceNo StockCode                          Description  Quantity  \
0         536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1         536365     71053                  WHITE METAL LANTERN         6
2         536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3         536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4         536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6
...          ...       ...                                  ...       ...
541904    581587     22613          PACK OF 20 SPACEBOY NAPKINS        12
541905    581587     22899         CHILDREN'S APRON DOLLY GIRL          6
541906    581587     23254        CHILDRENS CUTLERY DOLLY GIRL          4
541907    581587     23255      CHILDRENS CUTLERY CIRCUS PARADE         4
541908    581587     22138        BAKING SET 9 PIECE RETROSPOT          3

                InvoiceDate  UnitPrice  CustomerID         Country
0       2010-12-01 08:26:00       2.55     17850.0  United Kingdom
1       2010-12-01 08:26:00       3.39     17850.0  United Kingdom
2       2010-12-01 08:26:00       2.75     17850.0  United Kingdom
3       2010-12-01 08:26:00       3.39     17850.0  United Kingdom
4       2010-12-01 08:26:00       3.39     17850.0  United Kingdom
...                     ...        ...         ...             ...
541904  2011-12-09 12:50:00       0.85     12680.0          France
541905  2011-12-09 12:50:00       2.10     12680.0          France
541906  2011-12-09 12:50:00       4.15     12680.0          France
541907  2011-12-09 12:50:00       4.15     12680.0          France
541908  2011-12-09 12:50:00       4.95     12680.0          France

[541909 rows x 8 columns]>

In [6]:
##use iloc and loc

first_row=data.iloc[0]
print(first_row)

InvoiceNo                                  536365
StockCode                                  85123A
Description    WHITE HANGING HEART T-LIGHT HOLDER
Quantity                                        6
InvoiceDate                   2010-12-01 08:26:00
UnitPrice                                    2.55
CustomerID                                17850.0
Country                            United Kingdom
Name: 0, dtype: object

In [7]:
first_five_rows=data.iloc[6:8]
print(first_five_rows)

  InvoiceNo StockCode                        Description  Quantity  \
6    536365     21730  GLASS STAR FROSTED T-LIGHT HOLDER         6
7    536366     22633             HAND WARMER UNION JACK         6

           InvoiceDate  UnitPrice  CustomerID         Country
6  2010-12-01 08:26:00       4.25     17850.0  United Kingdom
7  2010-12-01 08:28:00       1.85     17850.0  United Kingdom

In [15]:
subset=data.iloc[:3,:2]
print(subset)

  InvoiceNo StockCode
0    536365    85123A
1    536365     71053
2    536365    84406B

In [17]:
#use loc

row_index_3=data.loc[3]
print(row_index_3)

InvoiceNo                                   536365
StockCode                                   84029G
Description    KNITTED UNION FLAG HOT WATER BOTTLE
Quantity                                         6
InvoiceDate                    2010-12-01 08:26:00
UnitPrice                                     3.39
CustomerID                                 17850.0
Country                             United Kingdom
Name: 3, dtype: object

In [19]:
row_index_0_to_4=data.loc[0:4]
print(row_index_0_to_4)

  InvoiceNo StockCode                          Description  Quantity  \
0    536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1    536365     71053                  WHITE METAL LANTERN         6
2    536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3    536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4    536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6

           InvoiceDate  UnitPrice  CustomerID         Country
0  2010-12-01 08:26:00       2.55     17850.0  United Kingdom
1  2010-12-01 08:26:00       3.39     17850.0  United Kingdom
2  2010-12-01 08:26:00       2.75     17850.0  United Kingdom
3  2010-12-01 08:26:00       3.39     17850.0  United Kingdom
4  2010-12-01 08:26:00       3.39     17850.0  United Kingdom

In [20]:
quatity_columns=data.loc[:,'Quantity']
print(quatity_columns)

0          6
1          6
2          8
3          6
4          6
          ..
541904    12
541905     6
541906     4
541907     4
541908     3
Name: Quantity, Length: 541909, dtype: int64

In [21]:
quatity_columns_unit_prices=data.loc[:,['Quantity','UnitPrice']]
print(quatity_columns_unit_prices)

        Quantity  UnitPrice
0              6       2.55
1              6       3.39
2              8       2.75
3              6       3.39
4              6       3.39
...          ...        ...
541904        12       0.85
541905         6       2.10
541906         4       4.15
541907         4       4.15
541908         3       4.95

[541909 rows x 2 columns]

missing data

In [23]:
missig_data =data.isnull()
print(missig_data.head())

   InvoiceNo  StockCode  Description  Quantity  InvoiceDate  UnitPrice  \
0      False      False        False     False        False      False
1      False      False        False     False        False      False
2      False      False        False     False        False      False
3      False      False        False     False        False      False
4      False      False        False     False        False      False

   CustomerID  Country
0       False    False
1       False    False
2       False    False
3       False    False
4       False    False

In [24]:
missing_data_count=data.isnull().sum()
print(missing_data_count)

InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

In [25]:
no_missing=data.dropna()
print(no_missing)

       InvoiceNo StockCode                          Description  Quantity  \
0         536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1         536365     71053                  WHITE METAL LANTERN         6
2         536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3         536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4         536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6
...          ...       ...                                  ...       ...
541904    581587     22613          PACK OF 20 SPACEBOY NAPKINS        12
541905    581587     22899         CHILDREN'S APRON DOLLY GIRL          6
541906    581587     23254        CHILDRENS CUTLERY DOLLY GIRL          4
541907    581587     23255      CHILDRENS CUTLERY CIRCUS PARADE         4
541908    581587     22138        BAKING SET 9 PIECE RETROSPOT          3

                InvoiceDate  UnitPrice  CustomerID         Country
0       2010-12-01 08:26:00       2.55     17850.0  United Kingdom
1       2010-12-01 08:26:00       3.39     17850.0  United Kingdom
2       2010-12-01 08:26:00       2.75     17850.0  United Kingdom
3       2010-12-01 08:26:00       3.39     17850.0  United Kingdom
4       2010-12-01 08:26:00       3.39     17850.0  United Kingdom
...                     ...        ...         ...             ...
541904  2011-12-09 12:50:00       0.85     12680.0          France
541905  2011-12-09 12:50:00       2.10     12680.0          France
541906  2011-12-09 12:50:00       4.15     12680.0          France
541907  2011-12-09 12:50:00       4.15     12680.0          France
541908  2011-12-09 12:50:00       4.95     12680.0          France

[406829 rows x 8 columns]

In [26]:
print(no_missing.isnull().sum())

InvoiceNo      0
StockCode      0
Description    0
Quantity       0
InvoiceDate    0
UnitPrice      0
CustomerID     0
Country        0
dtype: int64

In [27]:
no_missing_columns=data.dropna(axis=1)
print(no_missing_columns)

       InvoiceNo StockCode  Quantity          InvoiceDate  UnitPrice  \
0         536365    85123A         6  2010-12-01 08:26:00       2.55
1         536365     71053         6  2010-12-01 08:26:00       3.39
2         536365    84406B         8  2010-12-01 08:26:00       2.75
3         536365    84029G         6  2010-12-01 08:26:00       3.39
4         536365    84029E         6  2010-12-01 08:26:00       3.39
...          ...       ...       ...                  ...        ...
541904    581587     22613        12  2011-12-09 12:50:00       0.85
541905    581587     22899         6  2011-12-09 12:50:00       2.10
541906    581587     23254         4  2011-12-09 12:50:00       4.15
541907    581587     23255         4  2011-12-09 12:50:00       4.15
541908    581587     22138         3  2011-12-09 12:50:00       4.95

               Country
0       United Kingdom
1       United Kingdom
2       United Kingdom
3       United Kingdom
4       United Kingdom
...                ...
541904          France
541905          France
541906          France
541907          France
541908          France

[541909 rows x 6 columns]

In [28]:
data_filter_zeros=data.fillna(0)
print(data_filter_zeros)

       InvoiceNo StockCode                          Description  Quantity  \
0         536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1         536365     71053                  WHITE METAL LANTERN         6
2         536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3         536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4         536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6
...          ...       ...                                  ...       ...
541904    581587     22613          PACK OF 20 SPACEBOY NAPKINS        12
541905    581587     22899         CHILDREN'S APRON DOLLY GIRL          6
541906    581587     23254        CHILDRENS CUTLERY DOLLY GIRL          4
541907    581587     23255      CHILDRENS CUTLERY CIRCUS PARADE         4
541908    581587     22138        BAKING SET 9 PIECE RETROSPOT          3

                InvoiceDate  UnitPrice  CustomerID         Country
0       2010-12-01 08:26:00       2.55     17850.0  United Kingdom
1       2010-12-01 08:26:00       3.39     17850.0  United Kingdom
2       2010-12-01 08:26:00       2.75     17850.0  United Kingdom
3       2010-12-01 08:26:00       3.39     17850.0  United Kingdom
4       2010-12-01 08:26:00       3.39     17850.0  United Kingdom
...                     ...        ...         ...             ...
541904  2011-12-09 12:50:00       0.85     12680.0          France
541905  2011-12-09 12:50:00       2.10     12680.0          France
541906  2011-12-09 12:50:00       4.15     12680.0          France
541907  2011-12-09 12:50:00       4.15     12680.0          France
541908  2011-12-09 12:50:00       4.95     12680.0          France

[541909 rows x 8 columns]

In [29]:
mean_unir_price=data['UnitPrice'].mean()
data_filled_mean=data['UnitPrice'].fillna(mean_unir_price)
print(data_filled_mean)

0         2.55
1         3.39
2         2.75
3         3.39
4         3.39
          ...
541904    0.85
541905    2.10
541906    4.15
541907    4.15
541908    4.95
Name: UnitPrice, Length: 541909, dtype: float64

Here is a summary of the creations and manipulations performed on the columns using pandas in the Jupyter Notebook:

1. Created a new column 'data' by reading a CSV file using the `read_csv()` function.
2. Accessed the count of non-null values in each column using the `count()` method.
3. Used the `iloc[]` function to retrieve the first row of the dataframe and stored it in the variable 'first_row'.
4. Used the `iloc[]` function to retrieve the first five rows of the dataframe and stored it in the variable 'first_five_rows'.
5. Created a subset of the dataframe by selecting the first three rows and the first two columns using the `iloc[]` function and stored it in the variable 'subset'.
6. Used the `loc[]` function to retrieve the row at index 3 and stored it in the variable 'row_index_3'.
7. Used the `loc[]` function to retrieve the rows from index 0 to 4 and stored it in the variable 'row_index_0_to_4'.
8. Selected the 'Quantity' column using the `loc[]` function and stored it in the variable 'quantity_columns'.
9. Selected the 'Quantity' and 'UnitPrice' columns using the `loc[]` function and stored it in the variable 'quantity_columns_unit_prices'.
10. Checked for missing data in the dataframe using the `isnull()` function and stored it in the variable 'missing_data'.
11. Calculated the count of missing values in each column using the `isnull().sum()` function and stored it in the variable 'missing_data_count'.
12. Dropped rows with missing values using the `dropna()` function and stored the result in the variable 'no_missing'.
13. Checked for missing values in the 'no_missing' dataframe using the `isnull().sum()` function.
14. Dropped columns with missing values using the `dropna(axis=1)` function and stored the result in the variable 'no_missing_columns'.
15. Filled missing values with 0 using the `fillna(0)` function and stored the result in the variable 'data_filter_zeros'.
16. Calculated the mean of the 'UnitPrice' column using the `mean()` function and stored it in the variable 'mean_unit_price'.
17. Filled missing values in the 'UnitPrice' column with the mean value using the `fillna()` function and stored the result in the variable 'data_filled_mean'.

These are the main creations and manipulations performed on the columns in the Jupyter Notebook using pandas.